.reveal p {
#  text-align: left;
}

h2#orgheadline13 {
  background-color: rgba(255,0,0,0.8);
}

.reveal table {
  font-size: 0.5em;
}

pre.example {
  background-color: black;
}

.reveal .figure p { text-align: center; }

.reveal ul ul { font-size: 30px; }

.reveal ul {
  padding: 0;
  text-align: left;
  display: block;
}

.reveal pre {
  width: 100%;
  border: none;
  box-shadow: none;
  font-family: Source Code Pro;
  font-size: 18px;
}

.reveal code {
  font-family: Source Code Pro;
}
